# project specific temp dirs
tmp/

# common build artefact dirs
out/
build/
bin/

# configure artefacts
gen/

# optional cpm source cache (if not otherwise set)
.cpm/
_deps

# cmake artefacts
cmake_install.cmake
CTestTestfile.cmake
CmakeFiles/
CPM_modules/

# ides and editors
.vs/
.vscode/
/CMakeSettings.json
/CMakeUserPresets.json
.~*
.aider*
*.xcodeproj
*.xcworkspace
*.xcsettings
*.xcuserstate
